{% extends 'base.html' %}
{% block content %}
<div class="container">
	<div class="row d-flex justify-content-center p-5 ">
		<form method="POST" class="text-center border border-light p-3 mb-5 bg-white rounded">
			{% csrf_token %}
			<div class="form-group p-5">
				<p class="h4 mb-4">Enter your Name and Team<p>
				<div class="input-group">
					<input type="text" class="form-control mb-4" name="fname" placeholder="(*) First Name" required>
					<input type="text" class="form-control mb-4" name="lname" placeholder="(*) Last Name" required>
				</div>
				<div class="input-group">
					<select class="form-control mb-4" name="team" required>
						<option disabled selected>(*) Choose Team</option>
						{% for team in teams %}
						<option>{{ team }}</option>
						{% endfor %}
					</select>
				</div>
				<input type="submit" class="btn btn-success btn-rounded btn-block" value="Let's Play!" id="enterName"/>
			</div>
		</form>
	</div>
</div>
{% endblock %}