<table id="teams" class='table table-bordered table-light mx-2'>
    <thead>
        <tr>
            <th>Team</th>
            <th>Name</th>
            <th>Bingos</th>
            <th>Logged in</th>
        <tr>
    <thead>
    <tbody>
    {% for key, value in teams %}
        <tr>
            <td class='text-white bg-dark' rowspan={{value.users|length|add:1}}><b>{{ key }}</b></td>
        </tr>
        {% for user in value.users %}
        <tr class="text-right">
            <td>{{ user.name }}</td>
            <td>{{ user.bingos }}</td>
            <td>{{ user.duration }}</td>
        </tr>
        {% endfor %}
        <tr class="text-right">
            <td>Total:</td>
            <td><span class='text-left'>Users: </span>{{ value.users|length }}</td>
            <td><span class='text-left'>Bingos: </span>{{ value.count }}</td>
            <td></td>
        </tr>
    {% endfor %}
    </tbody>
</table>
