<nav class="navbar navbar-expand-lg navbar-light bg-dark upei-red">
    <a class="navbar-brand text-light" href="#">UPEI NSO BINGO</a>
    {% if users is not None%}
    <div class="ml-auto">
        <button class="btn btn-secondary" onclick="toggleNav()" id="activeusers" type="button">
            <span id="activeusers">Active users: {{ users }}</span>
        </button>
    </div>
    
    {% endif %}
</nav>
{% if users is not None%}
<div id="userspanel" open="false" class="sidepanel">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <table id="userstable" class='table table-striped table-bordered table-light mx-2'>
        <thead>
            <tr>
                <th>Name</th>
                <th>Team</th>
            <tr>
        <thead>
        <tbody></tbody>
    </table>
</div>
{% endif %}