{% extends 'base.html' %}
{% load static %}
{% block content %}
<script src="{% static 'js/caller.js'%}"></script>
{% include '_overview.html' %}
<div id="caller-container" class="container-fluid">
	<div class="row p-5">
		<div class="col">
			{% comment %} maybe make a list of the values available? And then highlight or cross out ones that get called? {% endcomment %}
			{% include '_numbergrid.html' %}
			<button id="callnumber" class="btn btn-primary btn-lg btn-block">Call Number</button>
			<button id="resetnumbers" type="button" class="btn btn-danger btn-lg btn-block">Reset Game</button>
		</div>
	</div>
	<div class="row">
		<div class="col-6" id="activity"></div>
		<div class="col-6">
			<form id="searchcard" class="form-inline">
		  		<input type="text" class="form-control mb-2 mr-sm-2" style="width: 50%;" id="cardid" placeholder="Enter card ID to view">
				<button type="submit" class="btn btn-primary mb-2">Submit</button>
			</form>
			
			<div class='collapse show' id="cardcolllapse">
				<table id='user-card' class="table card-table table-bordered">
					<thead>
						<tr class="cardRow head">
							<th>B</th>
							<th>I</th>  
							<th>N</th>
							<th>G</th>
							<th>O</th>
						</tr>
					</thead>
					<tbody></tbody>
				</table>
			</div>
		</div>
	</div>
</div>
<script>
$(document).ready(function() {
	$("#userspanel").prop("open", "false")
	$("#overviewbtn").click(function() {
		$(".modal-body").load("{{request.build_absolute_uri}}teams")
	})
})

$("#searchcard").submit(function(event) {
	event.preventDefault();
	var id = parseInt($(this).find(":input#cardid").val());
	if(Number.isInteger(id)) {
		getCard(id)
	} else {
		//alert bad?
	}
})

function getCard(id) {
	$("#user-card tbody").empty();
	var	protocol = window.location.protocol === "http:" ? "http://":"https://";

	$.ajax({
		url: protocol + window.location.host + "/" + id,
		contentType: "application/json",
		dataType: "json",
		success: function (result) {
			var data = JSON.parse(result);
			// append rows to table body
			for (var i = 0; i < data.numbers.length; i += 5) {
				var row = '<tr class="cardRow">';
				for (var j = i; j < i + 5; j++) {
				row += "<td ";
				if ($.inArray(data.numbers[j], data.called) >= 0) {
					row += 'class="upei-gold"';
				}
				if (data.numbers[j] === "FREE") {
					row += 'class="upei-gold"';
				}
				row += ">" + data.numbers[j] + "</td>";
				}
				row += "</tr>";
				$("#user-card tbody").append(row);
				$("#cardcollapse").collapse("show");
			}
		}
	});
}
function toggleNav() {
	if($("#userspanel").prop("open") == "false") {
		$.get("/caller/users", function (d) {
		var data = JSON.parse(d);
		$("#userstable tbody").empty()
		for (var i = 0; i < data.users.length; i++) {
			var row = "<tr>";
			row += "<td>" + data.users[i].username + "</td>";
			row += "<td>" + data.users[i].team + "</td>";
			row += "</tr>";
			$("#userstable tbody").append(row)
		}
		$("#userspanel").prop("open", "true")
		$("#userspanel").css('width', "20%");
		});
	} else {
		closeNav()
	}
}

function closeNav() {
	$("#userspanel").css('width', "0");
  	$("#userspanel").prop("open", "false")
}
</script>
{% endblock %}
