{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container-fluid">
	<div class="row p-5">
		<div class="col">
			{% comment %} maybe make a list of the values available? And then highlight or cross out ones that get called? {% endcomment %}
			{% include '_numbergrid.html' %}
			<button id="callnumber" class="btn btn-primary btn-lg btn-block">Call Number</button>
			<button id="resetnumbers" type="button" class="btn btn-danger btn-lg btn-block">Reset Game</button>
		</div>
	</div>
	<div class="row">
		<div class="col-6">
			<textarea name="activity" id="activity" disabled class="bg-white" style="min-height: 300px; width: 100%; height: 100%; font-size: 1.6rem;"></textarea>
		</div>
		<div class="col-6">
			<button class="btn btn-secondary dropdown-toggle btn-block"  type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				Available Cards
			</button>
			<div id="card-ids" class="dropdown-menu btn-block" aria-labelledby="dropdownMenuButton"></div>
			
			<div class='collapse show' id="cardcolllapse">
				<table id='user-card' class="table card-table table-bordered">
					<thead>
						<tr class="cardRow head">
							<th>B</th>
							<th>I</th>  
							<th>N</th>
							<th>G</th>
							<th>O</th>
						</tr>
					</thead>
					<tbody></tbody>
				</table>
			</div>
		</div>
	</div>
</div>
<script src="{% static 'js/caller.js'%}"></script>
{% endblock %}
