{% extends 'base.html' %}
{% load static %}
{% block content %}
<script src="{% static 'js/caller.js'%}"></script>

<div class="container-fluid">
	<div class="row p-5">
		<div class="col">
			{% comment %} maybe make a list of the values available? And then highlight or cross out ones that get called? {% endcomment %}
			{% include '_numbergrid.html' %}
			<button id="callnumber" class="btn btn-primary btn-lg btn-block">Call Number</button>
			<button id="resetnumbers" type="button" class="btn btn-danger btn-lg btn-block">Reset Game</button>
		</div>
	</div>
	<div class="row">
		<div class="col-6" id="activity"></div>
		<div class="col-6">
			<button class="btn btn-secondary dropdown-toggle btn-block"  type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				Available Cards
			</button>
			<div id="card-ids" class="dropdown-menu btn-block" aria-labelledby="dropdownMenuButton"></div>
			
			<div class='collapse show' id="cardcolllapse">
				<table id='user-card' class="table card-table table-bordered">
					<thead>
						<tr class="cardRow head">
							<th>B</th>
							<th>I</th>  
							<th>N</th>
							<th>G</th>
							<th>O</th>
						</tr>
					</thead>
					<tbody></tbody>
				</table>
			</div>
		</div>
	</div>
</div>
<script>
function toggleCollapse() {
$("#user-card tbody").empty();
var id = $(event.target).text();
var	protocol = window.location.protocol === "http:" ? "http://":"https://";

$.ajax({
	url: protocol + window.location.host + "/" + id,
	contentType: "application/json",
	dataType: "json",
	success: function (result) {
		var data = JSON.parse(result);
		// append rows to table body
		for (var i = 0; i < data.numbers.length; i += 5) {
			var row = '<tr class="cardRow">';
			for (var j = i; j < i + 5; j++) {
			row += "<td ";
			if ($.inArray(data.numbers[j], data.called) >= 0) {
				row += 'class="upei-gold"';
			}
			if (data.numbers[j] === "FREE") {
				row += 'class="upei-gold"';
			}
			row += ">" + data.numbers[j] + "</td>";
			}
			row += "</tr>";
			$("#user-card tbody").append(row);
			$("#cardcollapse").collapse("show");
		}
	}
});
}
</script>
{% endblock %}
