{% extends 'base.html' %}
{% load static %}
{% block content%}
	<div class="container">
		<div class="row">
			<div class="col text-center"><h1>Welcome, {{user.username|title}}, of the {{user.email}} team</h1></div>
		</div>
		<div class="row p-5">
			<div class="col-md-6 offset-md-3">
				<table class="table card-table" id="card">
					<thead>
						<tr class="cardRow head">
							<th class="card-element">B</th>
							<th class="card-element">I</th>
							<th class="card-element">N</th>
							<th class="card-element">G</th>
							<th class="card-element">O</th>
						</tr>
					</thead>
					<tbody>
						{% for cell in numbers %}
						{% if forloop.counter0|divisibleby:"5" %}
						{% if forloop.counter0 > 0 %}</tr>{% endif %}
						<tr class="cardRow">
						{% endif %}
							<td class="card-element cell">
								{{ cell }}
							</td>
						{% endfor %}
					</tbody>
				</table>			
					</table>
				</table>			
				<button id="bingo" class="btn btn-success btn-block" >BINGO!</button>
			</div>
		</div>
	</div>

	<script>
		if (window.location.protocol == "https:") {
			var http_scheme = "https://";
			var ws_scheme = "wss://";
		} else {
			var http_scheme = "http://";
			var ws_scheme = "ws://";
		}
		const bingoSocket = new WebSocket(ws_scheme + window.location.host + '/ws/bingo/');
		bingoSocket.onclose = function(e) {
			console.error('Bingo socket closed unexpectedly');
		}
		$("#bingo").click(function(e) {
			var audio = new Audio('{% static "bingo.mp3" %}');
			bingoSocket.send(JSON.stringify({
				'type': 'bingo',
				'name': '{{ user.username }}',
				'team': '{{ user.email }}',
				'card_id': '{{ card_id }}'
			}));
  			audio.play();
			$("#message").append('<div class="alert alert-success alert-dismissible text-center" role="alert"><button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span></button>You\'ve called bingo!</div>');
			$(this).prop('disabled',true);
		});
		// Make the function wait until the connection is made...
		function waitForSocketConnection(socket, callback){
			setTimeout(
				function () {
					if (socket.readyState === 1) {
						if (callback != null){
							callback();
						}
					} else {
						waitForSocketConnection(socket, callback);
					}

				}, 5); // wait 5 milisecond for the connection...
		}
		waitForSocketConnection(bingoSocket, function() {
			bingoSocket.send(JSON.stringify({
				'type': 'login',
				'name': '{{ user.username }}',
				'team': '{{ user.email }}',
				'card_id': '{{ card_id }}'
			}))
		});
        const numberSocket = new WebSocket(ws_scheme + window.location.host + '/ws/call/');
		numberSocket.onmessage = function(e) {
            const data = JSON.parse(e.data);
			switch(data.type) {
				case "reset": 
					$('#bingo').prop('disabled',false);
					resetTable();
					break;
			}
        };
        numberSocket.onclose = function(e) {
            console.error('Chat socket closed unexpectedly');
        };
		function resetTable() {
			$('#card tr').each(function(){
				$(this).find('td').each(function(){
			    	$(this).css("background-color", "#5c8727");
				})
			})
		}
    </script>
    <script src="{% static 'js/user.js'%}"></script>
{% endblock %}