{% extends 'base.html' %}
{% load static %}
{% block content%}
	<div class="container">
		
		<div class="row">
			<div class="col text-center"><h1>Welcome, {{user.username|title}}{% ifnotequal user.email 'no team' %}, of the {{user.email}} team {% endifnotequal %}</h1></div>
		</div>
		<div class="row p-5">
			<div class="col-md-6 offset-md-3">
				<table class="table card-table" id="card">
					<thead>
						<tr class="cardRow head">
							<th class="card-element">B</th>
							<th class="card-element">I</th>
							<th class="card-element">N</th>
							<th class="card-element">G</th>
							<th class="card-element">O</th>
						</tr>
					</thead>
					<tbody>
						{% for cell in numbers %}
						{% if forloop.counter0|divisibleby:"5" %}
						{% if forloop.counter0 > 0 %}</tr>{% endif %}
						<tr class="cardRow">
						{% endif %}
							<td class="card-element cell">
								{{ cell }}
							</td>
						{% endfor %}
					</tbody>
				</table>			
					</table>
				</table>			
				<button id="bingo" class="btn btn-success btn-block" >BINGO!</button>
			</div>
		</div>
	</div>

	<script>
		if (window.location.protocol == "https:") {
			var http_scheme = "https://";
			var ws_scheme = "wss://";
		} else {
			var http_scheme = "http://";
			var ws_scheme = "ws://";
		}
		const bingoSocket = new WebSocket(ws_scheme + window.location.host + '/ws/bingo/');
		bingoSocket.onclose = function(e) {
			if (e.code != 1000) {
				if (!navigator.onLine) {
					alert("You are offline. Please connect to the Internet and try again.");
				} else {
					bingoSocket = new WebSocket(ws_scheme + window.location.host + '/ws/bingo/');
				}
			}		
		}
		$("#bingo").click(function(e) {
			var audio = new Audio('{% static "bingo.mp3" %}');
			bingoSocket.send(JSON.stringify({
				'type': 'bingo',
				'name': '{{ user.username }}',
				'team': '{{ user.email }}',
				'leader': '{{ user.first_name }}',
				'card_id': '{{ card_id }}'
			}));
  			audio.play();
			alert('You\'ve called bingo!');
			$(this).prop('disabled',true);
		});
        const numberSocket = new WebSocket(ws_scheme + window.location.host + '/ws/call/');
		numberSocket.onmessage = function(e) {
            const data = JSON.parse(e.data);
			switch(data.type) {
				case "reset": 
					$('#bingo').prop('disabled',false);
					resetTable();
					break;
			}
        };
        numberSocket.onclose = function(e) {
			if (e.code != 1000) {
				if (!navigator.onLine) {
					alert("You are offline. Please connect to the Internet and try again.");
				} else {
					numberSocket = new WebSocket(ws_scheme + window.location.host + '/ws/call/');
				}
			}
        };
		function resetTable() {
			$('#card tr').each(function(){
				$(this).find('td').each(function(){
      				$(this).removeClass("upei-gold");
				})
			})
		}
		const activitySocket = new WebSocket(ws_scheme + window.location.host + '/ws/active/');
		activitySocket.onclose = function(e) {
			console.error('Activity socket closed unexpectedly');
		}
		setInterval(function() {
			activitySocket.send(JSON.stringify({"value":"dummy"}));
		}, 300*1000);
    </script>
    <script src="{% static 'js/user.js'%}"></script>
{% endblock %}