@font-face {
  font-family: Montserrat-Regular;
  src: url("../fonts/montserrat/Montserrat-Regular.ttf");
}

@font-face {
  font-family: Montserrat-Medium;
  src: url("../fonts/montserrat/Montserrat-Medium.ttf");
}

body,
html {
  height: 100%;
  background-color: #808080 !important;
  font-family: sans-serif;
}

.blink_me {
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% {
    background-color: #8c2004;
  }
}

#bingo {
  border-color: #fbb040;
  border-width: 2px;
}

.upei-red {
  background-color: #8c2004 !important;
}

.upei-green {
  background-color: #5c8727;
}

.sidepanel {
  height: 100%;
  right: 0;
  width: 0;
  position: fixed;
  z-index: 1;
  background-color: #8c2004;
  overflow-x: hidden;
  overflow-y: scroll;
  padding-top: 60px;
  transition: 0.5s;
}
#caller-container {
  transition: margin-left 0.5s;
  padding: 16px;
}
.sidepanel .closebtn {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 36px;
  margin-right: 50px;
  padding: 8px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.card-table {
  border: 3px solid #fbb040;
}

.upei-gold {
  background-color: #fbb040 !important;
  color: black !important;
}

.dropdown-menu {
  height: 200px;
  overflow-y: auto;
}

.card-element {
  border: 3px solid #fbb040;
  font-weight: unset;
  padding-right: 10px;
  width: 130px;
  padding-left: 25px;
}

.cell {
  cursor: pointer;
}

.cardRow th {
  padding-top: 24px;
  padding-bottom: 20px;
  text-align: center;
  font-family: Montserrat-Medium;
  font-size: 24px;
  color: #fff;
  line-height: 1.4;
  text-transform: uppercase;
  background-color: #333333;
}

.cardRow td {
  padding-top: 25px;
  padding-bottom: 25px;
  text-align: center;
  font-size: 24px;
  background-color: #5c8727;
  color: #fff;
}
