@font-face {
  font-family: Montserrat-Regular;
  src: url("../fonts/montserrat/Montserrat-Regular.ttf");
}

@font-face {
  font-family: Montserrat-Medium;
  src: url("../fonts/montserrat/Montserrat-Medium.ttf");
}

body,
html {
  height: 100%;
  background-color: #808080 !important;
  font-family: sans-serif;
}

.callednumbers {
  outline: none;
  resize: none;
  height: 300px;
  width: 100%;
  scroll-behavior: smooth;
}
.callednumbers.user {
  width: 500px;
}
.bingo-button {
  box-sizing: content-box;
  display: flex;
  align-items: center;
  justify-content: center;
}

.new-card-button {
  display: inline;
  display: flex;
  padding: 50px;
  align-items: center;
  justify-content: center;
}

.upei-red {
  background-color: #8c2004 !important;
}

.card-table {
  border: 3px solid #fbb040;
}

.card-clicked {
  background-color: #aaaa00 !important;
}
.card-element {
  border: 3px solid #fbb040;
  font-weight: unset;
  padding-right: 10px;
  width: 130px;
  padding-left: 25px;
}
.cell {
  cursor: pointer;
  background-color: #ffffff;
}

.cardRow th {
  padding-top: 24px;
  padding-bottom: 20px;
  text-align: center;
  font-family: Montserrat-Medium;
  font-size: 24px;
  color: #fff;
  line-height: 1.4;
  text-transform: uppercase;

  background-color: #333333;
}

.cardRow td {
  padding-top: 25px;
  padding-bottom: 25px;
  text-align: center;
  font-size: 24px;
  background-color: #5c8727;
  color: #fff !important;
}
