

/*//////////////////////////////////////////////////////////////////
[ FONT ]*/


@font-face {
  font-family: Montserrat-Regular;
  src: url('../fonts/montserrat/Montserrat-Regular.ttf'); 
}

@font-face {
  font-family: Montserrat-Medium;
  src: url('../fonts/montserrat/Montserrat-Medium.ttf'); 
}

/*//////////////////////////////////////////////////////////////////
[ RESTYLE TAG ]*/

body, html {
  height: 100%;
  background-color: #808080 !important;
	font-family: sans-serif;
}

#callednumbers {
  display: block;
  outline: none;
  resize: none;
  height: 100px;
  width: 500px;
  scroll-behavior: smooth;
}

.bingo-button {
  padding: 50px;
  box-sizing: content-box;
  display: flex;
  align-items: center;
  justify-content: center;
}

.new-card-button {
  display: inline;
  display: flex;
  padding: 50px;
  align-items: center;
  justify-content: center;
}

.upei-red {
  background-color: #8c2004 !important;
}



/*//////////////////////////////////////////////////////////////////
[ Table ]*/

.limiter {
  width: 100%;
  margin: 0 auto;
}

.container-table100 {
  width: 100%;
  min-height: 100vh;

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 33px 30px;
}
/*//////////////////////////////////////////////////////////////////
[ Table ]*/
table {
  border: 3px solid #fbb040;
  width: 100%;
  background-color: #fff;
}

th, td {
  border: 3px solid #fbb040;
  font-weight: unset;
  padding-right: 10px;
  width: 130px;
  padding-left: 25px;
}
td {
  cursor: pointer;
  background-color: #ffffff;
}

.cardRow th {
  padding-top: 24px;
  padding-bottom: 20px;
  text-align: center;
}

.cardRow td {
  padding-top: 25px;
  padding-bottom: 25px;
  text-align: center;
  background-color: #5c8727;
  color: #fff !important;
}

.table100 td {
  font-family: Montserrat-Regular;
  font-size: 24px;
  color: #808080;
  line-height: 1.4;
}

.table100 th {
  font-family: Montserrat-Medium;
  font-size: 24px;
  color: #fff;
  line-height: 1.4;
  text-transform: uppercase;

  background-color: #333333;
}

